/*Mobile first*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
    src: url('../fonts/Poppins-Medium.ttf');
}

/*----------------------HEADER----------------------*/
header{
    position: sticky;
    top: 0;
    background-color:aliceblue;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 0.1px;
    border-color: grey;
}
header h1 {
font-size: 2em;
border-right: solid;
padding-right: 10px;
border-color:cadetblue;
font-family: Poppins;
src: url(../fonts/Poppins-Black.ttf);
}

header nav span {
    color: grey;
}

.marco{
    border:1px solid lightgray;
    border-radius: 500px;
    width:50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:7px;
    box-shadow: 2px 2px grey;
    color: black;
    transition: transform .2s;
}
.marco:hover{
    color:blue;
    box-shadow:5px 5px grey;
    transform: scale(1.2);
}

nav section {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.header-text {
    display: flex;
    align-items:center;
}
nav span {
    padding-left: 10px;
}

/*----------------------MAIN----------------------*/
.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    grid-template-areas: 
    "div1"
    "div2"
    "div3"
    "div4";
    margin: 5%;   
}

@media only screen and (min-width:768px) {
    .contenedor{
        display: grid;
            grid-template-columns: repeat(2, 1fr), minmax(100px, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 10px;
            grid-template-areas:
                "div1 div2"
                "div3 div4";
            margin: 5%;
    }
}

.div1{
    grid-area: div1;
    padding: 15%;
    
}
.div1 h1{
    font-size:80px;
}



.div2{
    grid-area: div2;
    background-color: lightgray;
    margin: 15%;
    padding: 2%;
}
.div2 p{
    font-size: 32px;

}
.div3{
    grid-area: div3;
    padding: 15%;
}

.div3 p{
    font-size: 20px;
}

.div4{
    grid-area: div4;
    padding: 15%;
}

.div4 img{
    width: 100%;
}

.punto{
    border-radius: 500px;
    background-color: rgba(0, 0, 0, 1);
    width: 24px;
    height: 24px;
}

/*----------------------ANIMACIÓN----------------------*/
.titlefont{
    font-size: 120px;
}

.titlefont, .punto{
    animation: movimiento 5s linear infinite;
}

@keyframes movimiento {
    0% {
        transform: translateX(-100vh);
    }

    25% {
        transform: translateX(-50vh);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(50vh);
    }

    100% {
        transform: translateX(100vh);
    }
}

.contenedor-proyectos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) minmax(500px, 1fr);
}
/*Mientras tanto hago otras cosas dejo eso así*/
section article{
    background-color: cornflowerblue;
    border:solid black;
    color:aliceblue;
    text-align: center;
}

/*Formulario*/
.section-form{
     
}
.font80{
    font-size: 80px;
}

.contact-button{
    color:blueviolet;
    border:  solid 3px;
    background-color:#FFFFFF;
    border-radius:20px;
    max-width: 10vh;
}